<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Some famous Computer Scientists</h1>
  <div>{{data}}</div>

  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>

<p><a href="/another">another</a></p>


<p><a href="/login">login</a></p>
<p><a href="/leaderboard">leaders</a></p>
<p><a href="/mybets">my bets</a></p>

<form method="POST" action="/add">
<p>Name of new computer scientist: <input type="text" name="name"> <input type="submit" value="Add"></p>
</form>

<img src="https://c.tenor.com/Ckb7Xt5usBIAAAAM/kanye-west-dance.gif" alt="Computer man" style="width:128px;height:128px;">

</body>


</html>
