<html>
  <style>
    body{
      font-size: 15pt; 
      font-family: arial; 
    }
   </style>

   <h1> My Account </h1>
   <p> Logged in as: {{name[0][0]}} </p>
   <p> Current Available Balance: {{avail}} </p>
   <p> Ammount Commited in Bets: {{committed}} </p> 
   <p> Net Profit/Loss: {{pl}} </p> 
   <p> <a href = "/credit">Add Credit Card</a> <br>
       <a href = "/addfunds">Add Funds</a> <br> </p> 
   
   <a href = "/mybets/0">View Outstanding Bets</a> <br> 
   <a href = "/mybets/1">View Completed Bets</a> <br> 
   <a href = "/placebet">Place New Bets</a>

  </body>
</html>
